{% extends 'basic.html' %} 

{% block title %} serviceS{% endblock title %}

{% block body %} 
{% block content %}
<h1>Supprimer un personnel</h1>
<p>Êtes-vous sûr de vouloir supprimer le personnel "{{ object.nom }}" ?</p>
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="id" value="{{ object.id }}">
  <button type="submit" class="btn btn-danger">Supprimer</button>
  <a href="{% url 'personnel' %}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock content %}
{% endblock body %}
